.play-info {
  .plays_h_full {
    height: calc(100vh - 80px);
    overflow: auto;
  }
  .font_20 {
    font-size: 20px;
  }
  .w-100px {
    width: 100px;
  }
  .bottom_15px {
    bottom: 15px;
  }
  .left_95px {
    left:95px
  }
  .w {
    width: calc(100vw - 110px);
  }
}

