.goodsinfo {
  .goods_h-full {
    height: calc(100vh - 50px - 30px);
    overflow: auto;
  }
  .head {

  }
  .content {
    .upload_type {
      .ant-radio-inner {
        width: 15px;
        height: 15px;
      }
      .ant-radio-wrapper {
        font-size: 12px;
      }
    }
    .upload {
      .ant-upload.ant-upload-select-picture-card {
        border: 1px solid #ccc;
        border-radius: 5px !important;
      }
      .ant-upload-list-item {
        border-color: #ccc !important;
        border-width: 1px !important;
        border-radius: 5px !important;
      }
      .ant-upload-list-picture-card-container,
      .ant-upload.ant-upload-select-picture-card {
        width: 100px;
        height: 100px;
      }
    }
    .content_info {
      .ant-input {
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  }
  .tabel_voice {
    .ant-table-cell {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 10px
    }
    .ant-select-selector {
      border: 1px solid #ccc !important;
      border-radius: 3px !important;
    }
    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
      box-shadow: none;
      border-right-width: 1px;
    }
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      width: 80px;
    }
    .w_100 {
      width: 200px;
    }
  }
  .footer {

  }
  .font_20 {
    font-size: 20px;
  }
  .font_16{
    font-size: 16px;
  }
  .border-color {
    border-color: #FF8462;
  }
  .bg-FF8462 {
    background: #FF8462;
  }
  .w_140 {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
  }
  .ml_156 {
    margin-left: calc(140px + 1rem);
  }
  .h_200 {
    height: 200px;
  }
  .w_102 {
    width: 102px;
  }
  ._right_100{
    right: -100px;
  }
  .font_12 {
    font-size: 12px;
  }
}

