.login {
  background: linear-gradient(0deg, #ff7f60 0%, #ffb47b 100%);

}

.login_container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 80px 0;
  box-sizing: border-box;
  width: 980px;
  max-width: 80%;
  height: 510px;
  min-height: 510px;
  max-width: 80%;
  background: #ffffff;
  box-shadow: 0px 14px 35px 0px rgb(183 85 59 / 75%);
  border-radius: 10px;
  align-self: center;
}

.login_bg {
  width: 387px;
  height: 350px;
  border: none;
}

.login_phone {
  text-align: center;
}

.ant-tabs-tab:hover {
  color: #666 !important;
}

.login_input {
  margin-top: 20px;
  .font_12 {
    font-size: 12px;
  }
  .font_14{
    font-size: 14px;
  }
  .font_20 {
    font-size: 20px;
  }
  .color-FF8462 {
    color: #FF8462;
  }
  .top-30 {
    top: -30px;
  }
  .border_b_2 {
    bottom: 2px;
  }
  .border-color-F7B9A3 {
    border-color: #F7B9A3;
  }
  .bg-FF8462 {
    background: #FF8462;
  }

}
