.ant-upload.ant-upload-select-picture-card {
  border: none;
}
.font_20 {
  font-size: 20px;
}
.mt_20 {
  margin-bottom: 20px;
}
.pl_75 {
  padding-left: 75px;
}
.m_b_t_13 {
  margin: 13px 0;
}
.mt_20 {
  margin-bottom: 20px;
}
.w_112 {
  width: 112px;
}
.h_112{
  height: 112px;
}
.ml_70 {
  margin-left: 70px;
}
.font_12 {
  font-size: 12px;
}
// 修改label样式
// .ant-form-item-label {
//   width: 70px;
//   margin: 0 15px;
//   text-align: left;
// }

// 设置每个Form.Item的外边距
.ant-form-item {
  margin-bottom: 13px;
}

// 修改Input、Button组件的线框
.ant-input,
.ant-btn,
.ant-input-affix-wrapper {
  border: 1px solid #F7B9A3 ;
}

// 修改Button组件(保存修改 按钮)样式
.ant-btn {
  border-radius: 999px;
}

// 修改upload组件样式
.ant-upload.ant-upload-select-picture-card {
  overflow: hidden;
  border-radius: 999px !important;
}
