.m_l_r_24 {
  margin: 0 15px;
}

.w_300 {
  min-width: 300px;
  width: 300px;
  max-width: 500px;
}

.flex_1_0 {
  flex-grow: 1;
  flex-shrink: 1;
}

.h_w_32 {
  width: 32px;
  height: 32px;
}

.bg-FF8462 {
  background: #FF8462;
}

.m_l_5 {
  margin-left: 10px;
}

.bottom_20 {
  bottom: 20px;
}

.w_h_10 {
  width: 10px;
  height: 10px;
  background-color: #ccc;
}

// 直播列表商品切换按钮
.anchor:not(:last-child){
  margin-right: 5px;
}
.anchor_active {
  background-color: #000
}

/*修改Select组件样式*/
.site-select {
  .ant-select-selector {
    border: 1px solid #f7b9a3 !important;
    border-radius: 999px !important;
  }
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #f7b9a3;
  box-shadow: none !important;
  border-right-width: none !important;
  outline: 0 !important;
}
