.goodsmanage {
  // 内部区域高度
  .goodsmanage_h_full {
    height: calc(100vh - 50px - 30px);
  }
  // 商品图片区域高度
  .good_list_wrap_h_full {
    height: calc(100vh - 50px - 30px - 62px) !important;
    padding-bottom: 16px;
    box-sizing: border-box;
    overflow: auto;
  }
}

// 重制弹窗样式
.ant-modal-root {
  .ant-modal-header {
    padding: 5px 0;
    border-bottom: none;
    background: #001529;
    .ant-modal-title {
      color: rgba(255, 255, 255, 0.65);
      font-size: 12px;
      text-align: center;
    }
  }
  .ant-modal-body {
    padding: 15px 10px;
    height: 200px;
    .search_frame {
      height: 22px;
      .ant-input {
        line-height: auto;
        height: 20px;
        padding: 10px;
        border-radius: 3px;
      }
      .ant-input:hover,
      .ant-input:focus {
        box-shadow: none !important;
        border-color: #ccc !important;
        border-right-width: 1px !important;
      }
    }
    .goods_wrap {
      height: calc(200px - 22px - 30px - 0.75rem);
      .goods_wrap_head {
        height: 30px;
      }
      .goods_item_h {
        height: calc(200px - 30px - 22px - 0.75rem - 30px - 0.25rem);
        overflow: auto;
      }
    }
  }
  .ant-modal-footer {
    border-top: 1px solid #ccc;
    padding: 5px 15px;
  }
  .w__6_5 {
    width: 65%;
  }
  .border_1 {
    border: 1px solid #ccc;
  }
}

// 重置Message样式
.ant-message {
  .ant-message-notice-content {
    padding: 3px 10px;
    font-size: 13px;
    .ant-message-custom-content {
      display: flex;
      align-items: center;
    }
  }
  .anticon {
    font-size: 12px !important;
  }
}

// 公共样式
.w_135 {
  width: 135px;
  max-width: 135px;
}
.w_h_30 {
  width: 30px;
  height: 30px;
}
.font_12 {
  font-size: 12px;
}
.py_2 {
  padding-top: 2px;
  padding-bottom: 2px;
}
.px_10 {
  padding-left: 10px;
  padding-right: 10px;
}
.border_r_3 {
  border-radius: 3px;
}
.mr_8 {
  margin-right: 8px;
}
.bg-FF8462 {
  background: #ff8462;
}
.w_83 {
  width: 83px;
}
.h_83 {
  height: 83px;
}
.bg-FF8462 {
  background: #ff8462;
}
.goods_item__hover:hover > .edit {
  display: flex;
}
._video {
  object-fit: cover;
}
._top {
  top: calc(1rem + 12px);
}
.reload:active {
  background: rgb(219, 216, 216);
}
.scale_8 {
  transform: scale(80%);
}
