.site_layout_header {
  padding: 0;
  height: 50px;
  line-height: 50px;
  background: #fff;
}
.ant-layout-sider {
  height: calc(100vh - 50px);
  overflow-y: scroll;
}
.layout {
  .w_74 {
    width: 74px;
  }
  .h_74 {
    height: 74px;
  }
  .w_60 {
    width: 40px;
  }
  .h_60 {
    height: 40px;
  }
  .ml_14 {
    margin-left: 14px;
  }
}
